/* Layout for the Signup Form */
.form {
    padding: 20px;
    margin: 50px auto;
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
  }
  
   .Form.Control-error {
    border: 1px solid red;
  }
  
   .Button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .Button:hover {
    background-color: #0056b3;
  }
  
   a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  