.courses-container{
   flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start; 

  }

.course-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 200px; 
  max-height: 400px; 
  display: inline-block;
  flex-direction: row-reverse;
}

.course-card img {
  max-width: 80%; 
  max-height: 60%; 
  object-fit: cover; 
  margin-bottom: 10px; 
}

.course-details {
  flex: 1;
  }
